<!doctype html>

 <html class="no-js" lang="">
    <head>
        <meta charset="utf-8">

        <title>BlockChain Chat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>

        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li>
                                    <a class="popup-button" href="#popup1">Login</a>

                                    <div id="popup1" class="overlay">
                                        <div class="popup">
                                            <h2>Log In</h2>
                                            <a class="close" href="#">&times;</a>
                                            <div class="content">
                                            <!-- form will be passed with post method later-->
                                                <form action="login" method="post">
                                                    Account No : <input type ="text" name= "account_no"/><br/><br/>
                                                    Email:<input type="text" name="email_id"/><br/><br/>
                                                    Password:<input type="password" name="user_password"/><br/><br/>
                                                    <input type="submit" value="login"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                        </li>

                        <li>
                                    <a class="popup-button" href="#popup2">Sign Up</a>
                                    <div id="popup2" class="overlay">
                                        <div class="popup">
                                            <h2>Sign Up</h2>
                                            <a class="close" href="#">&times;</a>
                                            <div class="content">
                                            <!-- form will be passed with post method later-->
                                                <form action="signup" method="post">
                                                    User Name:<input type="text" name= "user_name" /><br><br>
                                                    Account no: <input type="text" name= "account_no"/><br><br>
                                                    Email:<input type="text" name="email"/><br/><br/>
                                                    Password:<input type="password" name="user_pass"/><br/><br/>

                                                    <input type="submit" value="SignUp"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!--Home page style-->
        <header id="home" class="home">
            <div class="overlay-img">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="home-content">

                                <h1>Transactional<br><br> Chatbot</h1>

                            </div>

                        </div>

                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                </div>
            </div>
        </header>

        <!-- Sections -->


    <footer class="copyright-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright text-center">
                        <p> All rights reserved SUST CSE2013.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>

